html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 600px) {
	.container {
	  display: block;
	}
}
@media (min-width: 600px) {
	.container {
		display: grid;
		grid-template-columns: 80% 20%;
		grid-template-rows: 100vh;
		grid-template-areas: ". .";
		/*grid-column-gap: 10px;*/
		overflow: hidden;
	}
}

#options {
  background: red;
}

.grid {
	background-color: yellow;
}

canvas {
  background: pink;
}